html {
  scroll-behavior: smooth;
}

body {
  background-color: #474747;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.pg-logo {
  text-align: center;
  margin-top: 15px;
}

h1 {
  color: rgb(176, 133, 55);
  text-align: center;
  padding-top: 50px;
  font-family: Overlock;
  font-size: 40px;
  margin-top: 0px;
}

h4 {
  color: rgb(163, 136, 74);
}

hr {
  border: 1.5px solid rgb(128, 128, 128);
  max-width: 50%;
}

.cards-top-margin {
  margin-top: 50px;
}

.card {
  background-color: rgb(118, 85, 73);
  margin: 20px 10px;
}

.card-title {
  color: wheat;
}

.btn-primary {
  background-color:  rgb(97, 59, 6);
  border: none;
}

.btn-primary:hover {
  background-color: rgb(0, 0, 0);
  border: none;
}

h2 {
  color: beige;
}

p {
  color: wheat;
}

main {
  height: auto;
}

svg {
  color: rgb(0, 0, 0);
}

.active {
  color: rgb(255, 255, 255) !important;
}

#about-me {
  margin-top: 50px;
}

#menu {
  margin-top: 50px;
}

footer {
  color: wheat;
  background-color: rgba(74, 74, 51, 0.364);
  padding: 5px 0;
  text-align: center;
}

.breadcrumb {
  background-color: #343a40;
}

.breadcrumb-item {
  text-decoration: none;
}

.center-svg {
  text-align: center;
}

a {
  text-decoration: none !important;
}

.img-card {
  margin-bottom: 15px;
}

#basket-title {
  margin: 0px;
  color: rgb(0, 0, 0);
}

#user-name {
  margin-right: 15px;
  color: rgb(0, 0, 0);
}

#user-name:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#basket-icon {
  margin-right: 15px;
  color: rgb(0, 0, 0);
}

#basket-icon:hover {
  color: rgb(255, 255, 255);
}

#login {
  margin-right: 5px;
  color: rgb(0, 0, 0);
}

#login:hover {
  color: rgb(255, 255, 255);
}

#register {
  margin-left: 5px;
  color: rgb(0, 0, 0);
}

#register:hover {
  color: rgb(255, 255, 255);
}

#logout-button {
  margin: 0px;
  color: rgb(0, 0, 0);
}

#logout-button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
  color: rgb(255, 255, 255) !important;
}

.bg-dark {
  background-color: #b78338 !important;
}

.navbar-brand {
  color: rgb(0, 0, 0) !important;
}

.s-s {
  margin-top: 15px;
}

.social-icons {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-icons:hover {
  transform: scale(1.2);
}

#social {
  color: wheat;
  margin-left: 10px;
}

.form-label,
.comment {
  color: wheat;
}

.mtt {
  margin-top: 50px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.form-select {
  width: 40px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #fff;
  outline: none;
}

.form-select select {
  width: calc(100% - 22px);
  height: auto;
  border: none;
  outline: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.form-select select::-webkit-scrollbar {
  width: 8px;
}

.form-select select::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.form-select select::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.table-container {
  overflow-x: auto;
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th,
td {
  padding: 15px 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }

  .item-box {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 3px;
  }
}
